* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'AguDisplay';
  src: url('./assets/fonts/AguDisplay-Regular-VariableFont_MORF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AguDisplay', serif;
  color: #e0d8b0;
  line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./img/bg.img.webp');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}

div {padding: 16px;
  text-align: center;
}

.title-span {
  color:rgb(255, 0, 0);
}

